{% extends 'base.html' %}
{% block title %} Student page  {% endblock %}
{% block content %}
	<h1>Student page</h1>
			
			 <a class="ac" href="{% url 'addstudent' %}">Add student</a>
	<table id="student" style="width:80%">
		{% if data %}
			<tr>
				<th>Roll number</th>
				<th>Name </th>
				<th>Department Name </th>
				<th>Delete</th>
			</tr>
		{% endif %}
			{% for d in data %}
				<tr align = "center">
					<td>{{ d.rno }}</td>
					<td>{{ d.name }}</td>
					<td>{{ d.dept }}</td>
					<td><a href="{% url 'deletestudent' id=d.rno %}" onclick="return confirm('Are you sure')">Delete</a></td>
				</tr>
			{% empty %}
				<tr>
					<td>No data found</td>
				</tr>
			{% endfor %}
	</table>
	
{% endblock %}